@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}


<div class="row mt-5 d-flex justify-content-center">
    <div class="card cardline" style="width: 400px;">
        <div class="card-header text-center headcolor text-white" style="padding: 0px;">
            <h4>@ViewData["Title"]</h4>
            <p>We'll email you new password. RIP old password. You had a good run.</p>
        </div>
      
        <div class="card-body">
            <div class="col-md-12">
                <form asp-action="ForgotPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" id="emailtxt" />
                        <span asp-validation-for="Email" class="text-danger validationmsg"></span>
                    </div>
                    <button type="submit" class="btn btn-teal" id="btnsubmit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="forforgotfooter">

</div>

@*<h2>@ViewData["Title"]</h2>
    <h4>Enter your email.</h4>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="ForgotPassword" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>*@

@section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        if ("@ViewBag.ResetPass1" === "True")
        {
            debugger
            $(".validationmsg").text("This email does not exist");
        }
        @*else
        {
            <span style="color:red">Something went wrong </span>
        }*@
    });
</script>
